                             @{d FFFFFF} @{c 00FFEF}Klávesové ovládání diskmagu@{c}
                             @{c 00FFEF}¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯@{c}
  @{c FFF414}ESCAPE, DELETE@{c}         -  návrat na pêedchozí nabídku
  @{c FFF414}ESCAPE@{c}                 -  ukonçení diskmagu (v hlavním menu)
  @{c FFF414}NAHORU@{c}                 -  návrat na pêedchozí nabídku; posun v menu
  @{c FFF414}ÎIPKA VLEVO@{c}            -  posun textu/nabídky vzad
  @{c FFF414}ÎIPKA VPRAVO@{c}           -  posun textu/nabídky vpêed
  @{c FFF414}SHIFT + ÎIPKA VLEVO@{c}    -  skok na první stranu textu
  @{c FFF414}SHIFT + ÎIPKA VPRAVO@{c}   -  skok na poslední stranu textu
  @{c FFF414}BACKSPACE@{c}              -  posun v textu vzad (jako More)
  @{c FFF414}SPACE@{c}                  -  posun v textu vpêed (jako More)
  @{c FFF414}TAB@{c}                    -  posun v nabídce vpêed
  @{c FFF414}LEVÝ SHIFT@{c}             -  posun v nabídce vzad
  @{c FFF414}ENTER@{c}                  -  volba vybrané poloùky menu; posun textu vpêed
  @{c FFF414}M@{c}                      -  vypnutí/zapnutí hudby
  @{c FFF414}N@{c}                      -  pêepnutí na následující hudební modul
  @{c FFF414}C@{c}                      -  uloùení çlánku do clipboardu v kódování E2
  @{c FFF414}Q@{c}                      -  okamùité ukonçení diskmagu (lze i signálem BREAK)
  @{c FFF414}P@{c}                      -  vyvolání okna s preferencemi
  @{c FFF414}HELP@{c}                   -  vyvolání okna s preferencemi
  @{c FFF414}I@{c}                      -  ikonifikace diskmagu (AppMenu a volitelnë AppIcon)
  @{c FFF414}+@{c}                      -  zvýîení hlasitosti hudby
  @{c FFF414}-@{c}                      -  sníùení hlasitosti hudby
  @{c FFF414}1-9,0@{c}                  -  pêechod rovnou na stránku 1-9,10
  @{c FFF414}SHIFT+1-9,0@{c}            -  pêechod rovnou na stránku 11-19,20
  @{c FFF414}F1-F9@{c}                  -  pêímé otevêení rubrik v hlavní nabídce