C1.0

USERLEVEL full
SCREENPALETTE 556 ECB 000 889 F80 BAA 877 655
CLOSEWB on
MODE page 99

CREATEICONS on
DRIVE "Scripts" "Scripts" 5
DRIVE "Backgrounds" "Backgrounds" 4
DRIVE "Animations" "Animations" 2
DRIVE "Symbols" "Symbols" 1
DRIVE "Text" "Text" 1
DRIVE "Layouts" "Layouts" 1
DRIVE "Palettes" "Palettes" 1

ERRORFILE "RAM:ScalaError"

BUFFERMODE Dynamic
PAGECOUNTER 0
COUNTERDWELL 10
LACEALL off
POINTER off

MOUSE on
KEYBOARD on
JOYSTICK off
INTERACTIVE on

PRINTER preferences
PRINTFONT times 12
PRINTPREFOPTS lq grey
PRINTPAGE horizontal 1

