*** CONFIG FILE for Beretvoter

Title "Beret #4 Strange Charts"

TitleFont 32 "marlboro.font"

AddCategory 1 "Ksywa/Grupa"
AddCategory 3 "Najwiëkszy Scenowy Pijak"
AddCategory 3 "Najbardziej Idiotyczna Xywa"
AddCategory 3 "Najlepszy Drug"
AddCategory 3 "Najgîupsza Nazwa Grupy"
AddCategory 3 "Najbardziej Chujowe Party"
AddCategory 3 "Ulubione Fajki"

