#000=001  ;Activated Tool, 01-10
#001=001  ;Activated Colour, 00-07
#002=077  ;Project Width, 77-250
#003=029  ;Project Height, 29-250
#004=002  ;Airbrush Size, 01-10
#005=001  ;Activated Mode, 00=Back, 01=Front
#006=000  ;Display, 00=Normal, 01=As AmigaGuide
#007=000  ;Airbrush Speed, 00=Fast, 01=Slow
#008=000  ;Window On Startup, 00=NoWindow, 01=Load, 02=Init
#009=000  ;Freehandtype, 00=Normal, 01=Special1, 02=Special2, 03=Special1&2
#010=000  ;Boxtype, 00=Normal, 01=Special
#011=-    ;Specialmode Freehand/Box Horizontal
#012=|    ;Specialmode Freehand/Box Vertical
#013=+    ;Specialmode Freehand/Box Corner 1
#014=/    ;Specialmode Freehand Diagonal 1
#015=\    ;Specialmode Freehand Diagonal 2
#016=X    ;Specialmode Freehand Corner 2
#017=*    ;Default Brush Character
#018=Ram:  ;Default Directory For Filerequester
#019=Clips:ASCII-Edit.UNDO  ;Name Of Undo-Buffer
