color0=$0432		; kolorki
color1=$0000
color2=$0FD9
color3=$0E80
color4=$0543
color5=$0654
color6=$0D98
color7=$0EFF
shadows=yes		; cienie liter (yes/no)
backgfx=yes		; podklad graficzny pod tekstami (yes/no)
playerpath=DeliPlayers/	; katalog z delitackerowskimi playerami

; pozdrowienia dla wszystkich milosnikow Amigi :)

