CartoonDataNEW
pcsuck:bang

0
60
130
0
0
8
2
pcsuck:Samples/doorclose(TopGun)
doorclose(TopGun)
3
pcsuck:Samples/Explosion2M
Explosion2M
4
pcsuck:Samples/aaagh
aaagh
5
pcsuck:Samples/Concrete
Concrete
6
pcsuck:Samples/steps
steps
7
pcsuck:samples/fuckoff
fuckoff
8
pcsuck:samples/pieceofshit
PCShit
9
pcsuck:samples/punch2(ThePerfectWeapon)
punch2(ThePerfectWeapon)
11111
2
3
0
4
2
0
6
2
0
45
10
0
22222
11
20
33333
3
2
1
64
175
0
5
8
1
64
181
0
7
6
1
64
250
0
8
6
1
64
250
0
9
6
11
64
250
0
10
6
15
64
250
0
16
9
3
64
175
0
17
5
12
64
250
0
24
3
11
64
458
0
26
4
4
64
186
0
44444
1
2
0
55555
0
0
0
0
10
10
10
14
0
0
10
0
0
13
8
7
15
14
0
8
15
0
0
8
0
12
11
11
0
13
13
0
10
15
0
7
12
0
0
15
7
0
15
12
0
14
15
15
15
0
1
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
6
8
66666
77777
notracker
99999
